[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
black = "==21.5b1"
pytest = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
isort = "*"
pylint = "*"
yamllint = "*"
flake8-bugbear = "*"
flake8-commas = "*"
vulture = "*"

[packages]

[requires]
python_version = "3.9"
