[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
black = "==21.12b0"
pytest = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
isort = "*"
pylint = "*"
yamllint = "*"
flake8-bugbear = "*"
flake8-commas = "*"
vulture = "*"
eradicate = "*"
ydiff = "*"
proselint = "*"
flake8-comprehensions = "*"
autoflake = "*"
pybetter = "*"
flake8-pytest-style = "*"

[packages]

[requires]
python_version = "3.9"
